
<div *ngIf="articleTag">
    <h2><span jhiTranslate="xiaobaolifeApp.articleTag.detail.title">Article Tag</span> {{articleTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="xiaobaolifeApp.articleTag.tagUuId">Tag Uu Id</span></dt>
        <dd>
            <span>{{articleTag.tagUuId}}</span>
        </dd>
        <dt><span jhiTranslate="xiaobaolifeApp.articleTag.articleUuId">Article Uu Id</span></dt>
        <dd>
            <span>{{articleTag.articleUuId}}</span>
        </dd>
        <dt><span jhiTranslate="xiaobaolifeApp.articleTag.addTime">Add Time</span></dt>
        <dd>
            <span>{{articleTag.addTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'article-tag/'+ articleTag.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
