<div>
    <h2>
        <span jhiTranslate="xiaobaolifeApp.articleTag.home.title">Article Tags</span>
        <button class="btn btn-primary float-right jh-create-entity create-article-tag" [routerLink]="['/', { outlets: { popup: ['article-tag-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="xiaobaolifeApp.articleTag.home.createLabel">
            Create new Article Tag
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articleTags">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="xiaobaolifeApp.articleTag.tagUuId">Tag Uu Id</span></th>
            <th><span jhiTranslate="xiaobaolifeApp.articleTag.articleUuId">Article Uu Id</span></th>
            <th><span jhiTranslate="xiaobaolifeApp.articleTag.addTime">Add Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let articleTag of articleTags ;trackBy: trackId">
                <td><a [routerLink]="['../article-tag', articleTag.id ]">{{articleTag.id}}</a></td>
                <td>{{articleTag.tagUuId}}</td>
                <td>{{articleTag.articleUuId}}</td>
                <td>{{articleTag.addTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../article-tag', articleTag.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article-tag/'+ articleTag.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article-tag/'+ articleTag.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
